body {
  background-color: white;
  overflow: hidden;
  margin: 0;
  font-family: Arial, sans-serif;
}

#particles-js {
  width: 100%;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 20px;
  max-width: 90%;
}

h1 {
  font-size: 50px; /* Increased font size */
  font-family: "Times New Roman";
  margin-block: 5px;
}

h2, h3 {
  font-size: 14px; /* Increased font size */
  font-family: Monospace;
}

.profile-picture {
  width: 200px; /* Increased size */
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px; /* Increased margin */
}

.profile-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.profile-links li {
  display: flex;
  align-items: center;
  margin: 10px;
}

.profile-links li img {
  width: 35px; /* Increased size */
  height: 35px;
  border-radius: 20%;
}

.profile-links li a {
  color: #333;
  text-decoration: none;
}

@media (max-width: 768px) {
  h1 {
    font-size: 40px; /* Increased font size */
  }

  h2, h3 {
    font-size: 12px; /* Increased font size */
  }

  .profile-picture {
    width: 160px; /* Increased size */
    height: 160px;
  }

  .profile-links li img {
    width: 30px; /* Increased size */
    height: 30px;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 35px; /* Increased font size */
  }

  h2, h3 {
    font-size: 10px; /* Increased font size */
  }

  .container {
    padding: 10px;
    width: 100%;
  }

  .profile-picture {
    width: 140px; /* Increased size */
    height: 140px;
  }

  .profile-links {
    justify-content: center;
  }

  .profile-links li {
    margin: 5px;
  }

  .profile-links li img {
    width: 25px; /* Increased size */
    height: 25px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 800px;
  }

  .profile-picture {
    width: 220px; /* Increased size */
    height: 220px;
  }

  h1 {
    font-size: 55px; /* Increased font size */
  }

  h2, h3 {
    font-size: 16px; /* Increased font size */
  }

  .profile-links li img {
    width: 40px; /* Increased size */
    height: 40px;
  }
}
